---
layout: default
title: Tags
---

<div class="content-wrapper">
	<div class="inner-container container">
		<div class="row">
			<div class="section-header col-md-12">
				<h2>Tags</h2>
				<div class="blog-list">
					<br>
					{% for tag in site.tags %}
							<a class="label" href="/tags#{{ tag[0] }}">{{ tag[0] }}</a>
					{% endfor %}

					<hr>
			  
				  
					{% for tag in site.tags %}
						<div id="{{ tag[0] }}"><h2>{{ tag[0] }}</h2></div>
						<ul>
							{% for post in tag[1] %}
							<li><a href="{{ post.url }}"><h3>{{ post.title }}</h3></a></li>
							{% endfor %}
						</ul>
						<hr>
					{% endfor %}
		
  
				  <a href="{{ post.url }}">
					<h3>{{ post.title }}</h3>
					<p class="blog-list-span">{{ post.date | date_to_string }}</p>
				  </a> 
	
				 
			  </div>
			</div> <!-- /.section-header -->
		</div> <!-- /.row -->
	</div> <!-- /.inner-content -->
  </div> <!-- /.content-wrapper -->