<header class="site-header container-fluid">
    <div class="main-header">
        <div class="row">
            <div class="main-header-left col-md-4 col-sm-6 col-xs-8">
                <!-- social links -->
                <a href="mailto:anujanegi1@gmail.com" class="btn-left fa fa-envelope"></a>
                <a href="https://scholar.google.co.in/citations?user=Cu7zyVkAAAAJ&hl=en" class="btn-left ai ai-google-scholar"></a>
                <a href="https://github.com/anujanegi" class="btn-left fa fa-github"></a>
                <a href="http://www.linkedin.com/in/anujanegi1" class="btn-left fa fa-linkedin"></a>
                <a href="https://twitter.com/anujanegi_1" class="btn-left fa fa-twitter"></a>
                <!-- <a href="#" class="btn-left fa fa-instagram"></a> -->
            </div> <!-- /.main-header-left -->
            <div class="menu-wrapper col-md-8 col-sm-6 col-xs-4">
                <a href="#" class="toggle-menu visible-sm visible-xs"><i class="fa fa-bars"></i></a>
                <ul class="sf-menu hidden-xs hidden-sm">
                    <li class="active"><a href="/">Anuja Negi</a></li>
                    <li><a href="/publications">Publications</a></li>
                    <li><a href="https://drive.google.com/file/d/1ec3kSCqpBgW8UGdvzlg2mVDqjhYgCLjY/view?usp=sharing">Resume</a>
                    <!-- <li><a href="/fun">Fun Stuff</a></li> -->
                    <li><a href="/papers-I-read">papers-I-read</a></li>
                </ul>
            </div> <!-- /.menu-wrapper -->
        </div> <!-- /.row -->
    </div> <!-- /.main-header -->
    <div id="responsive-menu">
        <ul>
            <li><a href="/">About</a></li>
            <li><a href="/publications">Publications</a></li>
            <li><a href="https://drive.google.com/file/d/1ec3kSCqpBgW8UGdvzlg2mVDqjhYgCLjY/view?usp=sharing">Resume</a>
            <!-- <li><a href="/fun">Fun Stuff</a></li> -->
            <li><a href="/papers-I-read">papers-I-read</a></li>
        </ul>
    </div>
</header> <!-- /.site-header -->